* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: salmon;
}/*a reset so that the webpage will look the same on all platforms/web browsers*/


html, body {
  height: 100%;
  height: 100%;
  width: 100%;
}

h1 {
  background-color: red;
  float:left;
}

table, table * {
  border: 1px solid black;
}
